<div class="container mt-5">
  <h1><%= t('vehicles.new.title') %></h1>

  <%= render 'form', vehicle: @vehicle %>

  <div class="mt-3">
    <%= link_to t('vehicles.new.back'), vehicles_path, class: 'btn btn-secondary' %>
  </div>
</div>